<div class="row">
    <div class="col-sm-12 col-lg-6">
        <div class="card">
            <div class="card-image">
                <img src="/images/Textbook.png">
                <span class="card-title">Textbooks</span>
                <a asp-controller="Textbook" asp-action="Index" class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">forward</i></a>
            </div>
            <div class="card-content">
                <p>Rent, return and place hold on textbooks</p>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-lg-6">
        <div class="card">
            <div class="card-image">
                <img src="/images/Renter.jpg">
                <span class="card-title">Renters</span>
                <a asp-controller="Renter" asp-action="SignOn" class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">forward</i></a>
            </div>
            <div class="card-content">
                <p>View and manage my account</p>
            </div>
        </div>
    </div>
</div>


